[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-countries = "*"
psycopg2-binary = "==2.8.3"
djangorestframework = "*"
pygments = "==2.5.2"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
